strict-ssl=false
@anz:registry=https://artifactory.gcp.anz/artifactory/api/npm/anzdesignsystem-npm/
@oceanblue:registry=https://artifactory.gcp.anz/artifactory/api/npm/anzdesignsystem-npm/
registry=https://artifactory.gcp.anz/artifactory/api/npm/npmjs-org/